.landing-page-container {
  .banner {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background: url('123.jpg');
    background-size: cover;
    display: flex;
    color: white;

    .left {
      height: 100%;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1vh 7vw;
      position: relative;

        .headers {
          margin-top: 55vw;
          h1 {
            font-size: 3.5vw;
          }

          p {
            font-size: 1.5vw;
          }
        }
    }

    .right {
      height: 100%;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1vh 7vw;
      position: relative;

      .images {
        // position: absolute;
        width: 100%;
        .carousel {
          height: 0;
          width: 100%;
          margin-top: 55vw;
          padding-bottom: 75%;
          background-color: white;
          border-radius: 10px;
          transition: 1s opacity;
        }

        .controls {
          text-align: center;
          padding: 15px;
          i {
            font-size: 3vw;
          }
        }
      }
    }
  }

  .features {
    width: 100%;
    padding: 7vh 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .feature {
      text-align: center;
      width: 20vw;
      i {
        font-size: 50px;
        color: #1F95EF;
        margin-bottom: 15px;
      }

      h5 {
        font-size: 30px;
      }

      p {
        color: #4B525A;
      }

    }
  }
}

@media (max-width: 1024px) {
  .landing-page-container {
    .banner {
      display: block;
      width: 100%;
      height: auto;
      padding-bottom: 0;
      position: absolute;
      top: 0;

      .left {
        height: 50%;
        width: 100%;
        padding: 1vh 10vw;
        text-align: center;
        align-items: center;
        margin-top: 150px;

        .headers {
          margin-top: 0;
          h1 {
            font-size: 5vw;
          }

          p {
            font-size: 2vw;
          }
        }
      }

      .right {
        height: 20%;
        width: 100%;
        padding: 1vh 10vw;

        .images {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .carousel {
            height: 0;
            width: 80%;
            margin-top: 0;
            padding-bottom: 60%;
          }

          .controls {
            text-align: center;
            padding: 15px;
            i {
              font-size: 5vw;
            }
          }
        }
      }
    }

    .features {
      margin-top: 100vw;
    }
  }
}

@media (max-width: 550px) {
  .landing-page-container {
    .banner {
      height: 100vh;

      .left {
        height: 30%;
        padding: 1vh 5vw;
        .headers {
          h1 {
            font-size: 10vw;
          }
          p {
            font-size: 4vw;
          }
        }
      }

      .right {
        height: 50%;
        padding: 3vh 5vw;

        .images {
          margin-top: 25px;
          .controls {
            i {
              font-size: 8vw;
            }
          }
        }

      }
    }
    .features {
      width: 100%;
      padding: 0vh 15vw;
      display: block;
      text-align: center;
      margin-top: 110vh;

      .feature {
        text-align: center;
        width: 70vw;
        i {
          font-size: 15vw;
          color: #1F95EF;
          margin-bottom: 15px;
        }

        h5 {
          font-size: 10vw;
        }

        p {
          color: #4B525A;
        }
      }
    }
  }
}
