.landing-page-container{
  background-color: white;
  // padding: 5vh 7vw;
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 7vw;

    h1 {
      font-weight: 700;
      color: #1D2D35;
      font-size: 70px;
      text-align: center;
      padding: 15px;
    }
    p {
      color: #1D2D35;
      font-size: 25px;
      width: 700px;
      text-align: center;
    }

    a {
      text-decoration: none;
      font-size: 25px;
      font-weight: 700;
      color: white;
      background-color: #0094D2;
      padding: 7px 60px;
      margin-top: 15px;
    }
  }
  .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #0094D2;
    margin-top: 150px;
    padding: 5vh 0vw;
    .image {
      background: url('landing-page-image.png');
      background-size: cover;
      width: 60vw;
      height: 0;
      padding-bottom: 95.45%;
    }
  }
}

@media (max-width: 1024px) {
  .landing-page-container {
    .header {
      h1 {
        font-size: 55px;
      }

      p {
        font-size: 20px;
        width: 500px;
      }

      a {
        font-size: 20px;
      }
    }
    .image-container {
      margin-top: 60px;
      padding: 5vh 0vw;
      .image {
        width: 90vw;
        padding-bottom: 142.73%;
    }
  }
  }
}

@media (max-width: 550px) {
  .landing-page-container {
    .header {
      justify-content: flex-start;
      padding: 5vh 5vw;

      h1 {
        font-size: 12vw;
        text-align: left;
        padding: 0;
      }

      p {
        font-size: 5vw;
        width: auto;
        text-align: left;
      }

      a {
        font-size: 20px;
        width: 100%;
        text-align: center;
        padding: 10px 60px;
      }
    }

    .image-container {
      margin-top: 5vh;

      .image {

      }
    }
  }
}
