.sign-up-container {
  width: 100vw;
  height: 100vh;
  padding: 5vh 10vw;
  background-color: #0094D2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;


  img {
    height: 100px;
    width: 210px;
  }

  form {
    width: 500px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 35px 45px;
    text-align: center;

    h4 {
      color: #1D2D35;
    }

      .form-inputs {
        margin-top: 15px;

        .name-inputs {
          display: flex;
          justify-content: space-between;

          .user_first_name {
            width: 48%;
          }
          .user_last_name {
            width: 48%;
          }
        }

        .user_role {
          display: flex;
          width: 100%;
          justify-content: space-between;

          .form-check {
            width: 48%;
            border: 1px solid #DADEE3;
            border-radius: 2px;
            height: 45px;
            // text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .5s all;

            &:hover {
              cursor: pointer;
            }

            label {
              position:absolute;
              right: 0;
              left: 0;
              height: 100%;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #0094D2;
              font-weight: 700;
              background-color: transparent;

              &:hover {
                cursor: pointer;
              }
            }
          }

          input {
            display: none;
          }
        }
      }

      .form-group input {
        height: 45px;
      }

      .form-actions input {
        width: 100%;
        color: white;
        background-color: #2DA562;
        border-radius: 20px;
        height: 40px;
      }
  }

  .sign-up-page-link {
    text-decoration: none;
    color: white;
    margin-top: 20px;
  }
}

@media (max-width: 550px) {
  .sign-up-container {
    padding: 5vh 5vw;
    // height: auto;

    form {
      width: 100%;
      padding: 35px 20px;

      .form-group input {
        height: 55px;
      }

      .form-actions input {
        height: 50px;
        border-radius: 30px;
      }
    }
    .user_role {
      .form-check {
        height: 55px !important;
      }
    }
  }
}
