<div class="navbar">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag "logo-white.png" %>
    <% end %>
  </div>
  <div class="navigation-items">
    <%= link_to "About", root_path %>
    <%= link_to "Login", new_user_session_path %>
  </div>
  <div class="burguer-menu" hidden>
    <div class="lines">
    </div>
  </div>
</div>
<div class="mobile-menu opacity" hidden>
</div>
