<div class="landing-page-container">
  <div class="banner">
    <div class="left">
      <div class="headers fade-in-left">
        <h1><strong>A Learning management system, done right.</strong></h1>
        <p>What if there was a platform where educators could neatly organize all their classes, lectures,
        files and grades?</p>
      </div>
    </div>
    <div class="right">
      <div class="images fade-in-right">
        <div class="carousel">
        </div>
        <div class="controls">
          <i class="fas fa-arrow-circle-left"></i>
          <i class="fas fa-arrow-circle-right"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="features">
    <div class="feature">
      <i class="far fa-file-code"></i>
      <h5><strong>Share everything</strong></h5>
      <p>Aurora gives you the power to share files, slides, summaries, calendars and send email reminders, all in one concise package.</p>
    </div>
    <div class="feature">
      <i class="fas fa-comments"></i>
      <h5><strong>In-App Messaging</strong></h5>
      <p>Keep everyone up to date with whats happening in class and communicate with your students right throught our platform.</p>
    </div>
    <div class="feature">
      <i class="fas fa-search"></i>
      <h5><strong>Powerful Search</strong></h5>
      <p>No more hopelessly browing to find what you want. In Aurora you can search file names, lectures and messages using our built-in search.</p>
    </div>
  </div>
</div>
