<div class="landing-page-container">
  <div class="header">
    <h1>Finally, an Educational Platform<br>done right.</h1>
    <p>No more fragmentation between your tools, lack of communication, Facebook groups, Google calendars and emails,<strong> aurora </strong> is the all-in-one solution that educators have been waiting for, a platform where you can neatly organize all of your classes, lectures, files, grades and messages and seamlessly communicate with your students.</p>
    <%= link_to "Give aurora a Try", new_user_registration_path %>
  </div>
  <div class="image-container">
    <div class="image">
    </div>
  </div>
  <div class="description">
    <h1 data-aos="fade-up">One tool to rule them all.</h1>
    <p data-aos="fade-up">No more fragmentation between your tools, lack of communication, Facebook groups, Google calendars and emails,<strong> aurora </strong> is the all-in-one solution that educators have been waiting for, a platform where you can neatly organize all of your classes, lectures, files, grades and messages and seamlessly communicate with your students</p>
    <p data-aos="fade-up">No more fragmentation between your tools, lack of communication, Facebook groups, Google calendars and emails,<strong> aurora </strong> is the all-in-one solution that educators have been waiting for, a platform where you can neatly organize all of your classes, lectures, files, grades and messages and seamlessly communicate with your students</p>
    <p data-aos="fade-up">No more fragmentation between your tools, lack of communication, Facebook groups, Google calendars and emails,<strong> aurora </strong> is the all-in-one solution that educators have been waiting for, a platform where you can neatly organize all of your classes, lectures, files, grades and messages and seamlessly communicate with your students</p>
  </div>
  <div class="advantages">
    <div class="left">
      <i class="fas fa-chalkboard-teacher" id="big-icon" data-aos="fade-right"></i>
      <i class="far fa-file-code" data-aos="fade-right" id="small-icon"></i>
      <i class="far fa-comments" data-aos="fade-right" id="small-icon"></i>
      <i class="far fa-folder-open" data-aos="fade-right" id="small-icon"></i>
    </div>
    <div class="right">
      <i class="fas fa-users" id="big-icon" data-aos="fade-left"></i>
    </div>
  </div>
</div>
