<div class="landing-page-container">
  <div class="header">
    <h1>Finally, an Educational Platform<br>done right.</h1>
    <p>No more fragmentation between your tools, lack of communication, Facebook groups, Google calendars and emails,<strong> aurora </strong> is the all-in-one solution that educators have been waiting for, a platform where you can neatly organize all of your classes, lectures, files, grades and messages and seamlessly communicate with your students.</p>
    <%= link_to "Give aurora a Try", new_user_registration_path %>
  </div>
  <div class="image-container">
    <div class="image">
    </div>
  </div>
  <div class="description">
    <h1 data-aos="fade-up">One platform to rule them all.</h1>
    <p data-aos="fade-up">We know all too well the struggles of trying to get all of your students on the same page, between sharing documents, lecture slides and pretty much everything else, existing solutions haven't been up to the task, and that has made comunication between educators and students unnecessarily cumborsome.</p>
    <p data-aos="fade-up">That's where we come in, not only have we made the existing process of sharing files and organizing them much easier, we have also added a whole platform with in-app messaging, shared calendars and an easy-to-use UI to boot, oh and its completely <strong>free</strong>.</p>
  </div>
  <div class="advantages">
    <div class="left">
      <i class="fas fa-chalkboard-teacher" id="big-icon" data-aos="fade-right"></i>
      <i class="far fa-file-code" id="small-icon"></i>
      <i class="far fa-comments" id="small-icon"></i>
      <i class="far fa-folder-open" id="small-icon"></i>
    </div>
    <div class="right">
      <i class="fas fa-users" id="big-icon" data-aos="fade-left"></i>
    </div>
  </div>
  <div class="call-to-action">
    <%= link_to "Give aurora a Try", new_user_registration_path %>
  </div>
</div>
