<div class="landing-page-container">
  <div class="banner">
    <div class="left">
      <div class="headers fade-in-left">
        <h1><strong>A Learning management system, done right.</strong></h1>
        <p>What if there was a platform where educators could neatly organize all their classes, lectures,
        files and grades?</p>
      </div>
    </div>
    <div class="right">

    </div>
  </div>
</div>
