<div class="landing-page-container">
  <div class="header">
    <h1>Finally, an Educational Platform<br>done right.</h1>
    <p>No more fragmentation between your tools, lack of communication, Facebook groups, Google calendars and emails,<strong> aurora </strong> is the all-in-one solution that educators have been waiting for, a platform where you can neatly organize all of your classes, lectures, files, grades and messages and seamlessly communicate with your students.</p>
    <%= link_to "Give aurora a Try", new_user_registration_path %>
  </div>
  <div class="image-container">
    <div class="image">
    </div>
  </div>
  <div class="description">
    <h1>One tool to rule them all.</h1>
    <p>No more fragmentation between your tools, lack of communication, Facebook groups, Google calendars and emails,<strong> aurora </strong> is the all-in-one solution that educators have been waiting for, a platform where you can neatly organize all of your classes, lectures, files, grades and messages and seamlessly communicate with your students</p>
    <p>No more fragmentation between your tools, lack of communication, Facebook groups, Google calendars and emails,<strong> aurora </strong> is the all-in-one solution that educators have been waiting for, a platform where you can neatly organize all of your classes, lectures, files, grades and messages and seamlessly communicate with your students</p>
    <p>No more fragmentation between your tools, lack of communication, Facebook groups, Google calendars and emails,<strong> aurora </strong> is the all-in-one solution that educators have been waiting for, a platform where you can neatly organize all of your classes, lectures, files, grades and messages and seamlessly communicate with your students</p>
  </div>
</div>
