.navbar {
  height: 55px;
  background-color: white;
  border-bottom: 2px solid #0094D2;
  width: 100%;
  padding: 0;


  #search-input {
    width: 400px;
    border: 1px solid #CFD7E6;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 15px;
    color: #64758E;

  }

  i {
    font-size: 30px;
    color: #CDD7E7;
    cursor: pointer;
    margin-right: 13px;
  }
}

.navbar-menu {
  background-color: white;
  width: 230px;
  height: 250px;
  position: absolute;
  right: 0;
  margin-top: 5px;
  margin-right: 10px;
  -webkit-box-shadow: 0 3px 20px rgba(89, 105, 129, .3), 0 1px 2px rgba(0, 0, 0, .05), 0 0 0 1px rgba(89, 105, 129, .1);
  -moz-box-shadow: 0 3px 20px rgba(89, 105, 129, .3), 0 1px 2px rgba(0, 0, 0, .05), 0 0 0 1px rgba(89, 105, 129, .1);
  box-shadow: 0 3px 20px rgba(89, 105, 129, .3), 0 1px 2px rgba(0, 0, 0, .05), 0 0 0 1px rgba(89, 105, 129, .1);

  .user-info {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    i {
      color: #CDD7E7;
      font-size: 40px;
    }

    #email {
      color: #A7B2C3;
      font-size: 14px;
    }
  }

  .links {
    width: 100%;
    height: 50%;
    border-top: 1px solid #EEF1F6;

    .link {
      display: flex;
      border-bottom: 1px solid #EEF1F6;
      width: 100%;
      height: 33.3%;
      align-items: center;
      padding: 10px 10px;
      text-decoration: none;
      color: #0094D2;

      .icon {
        width: 20%;
        height: 100%;
        text-align: center;

        i {
          font-size: 25px;
        }
      }

      .link-name {
        width: 80%;
        height: 100%;

        p {
          font-size: 15px;
          font-weight: 300;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .navbar {
    #search-input {
      width: 40vw;
    }
  }
  .navbar-menu {
    width: 95%;
    margin: auto;
    margin-top: 5px;
    left: 0;
  }
}
